:host {
	margin: 0 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.oc-box {
	padding: 0.25em 1em;
	display: flex;
	flex-direction: column;
    align-items: center;
    width:160px;
    height: 70px;
    word-wrap: break-word;
}

.oc-h-bar {
	height: 0.5em;
}